#mobile-view-filter:focus, #browser-view-filter:focus {
    border: 3px solid rgb(1, 54, 153);
}

.office-select {
    margin-left: 1px !important;
}

#browser-view-filter:focus, .office-select:focus {
    border: 5px solid #80C565;;
}