button {
    background: none;
    border: none;
}

.social-media-container {
    display: flex;
}

.github-enabled:hover, .twitter-enabled:hover, .linkedin-enabled:hover {
    transform: scale(1.3);
    transition: .5s;
}

.github-enabled:focus, .twitter-enabled:focus, .linkedin-enabled:focus {
    transform: scale(1.3);
    transition: .5s;
}

.github-enabled .fa-stack, .twitter-enabled .fa-stack, .linkedin-enabled .fa-stack  {
    color: black;
    font-size: 13px;
}

.github-disabled .fa-stack, .twitter-disabled .fa-stack, .linkedin-disabled .fa-stack {
    color: rgb(170, 162, 162);
    font-size: 13px;
}

